# Discord Bot
DISCORD_TOKEN=

# MongoDB
MONGO_URI=

# PayOS
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=

# Optional (move these from hardcode to ENV if desired)
# GUILD_ID=
# LOG_CHANNEL_ID=
# CUSTOMER_ROLE_ID=
